body {
    background-color: #FAFAF8; 
    margin: 0;
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* space between logo and name */
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.06)
}

header img {
  height: 5rem
}

header span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

main {
  padding: 10px 30px 10px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0 20px;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}
