

nav > img {
    width: 80px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
}
nav {
    display: flex;
    align-items: center; 
    height: 100%;
}

header {
    height: 100px;
    background-color: #21222A;
    padding: 30px 25px;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 700;
    background-color: #282D35;
    color: white
}


main {
    padding: 60px 30px;
}

main > h1 {
    margin: 0;   
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
} 

.facts-list > li {
    margin-block: 10px;
    line-height: 19px;

}

.facts-list > li::marker {
    color:#61DAFB;
    font-size: 2rem;
}

